extends layout

block content
	h1= title
	p This syncronizes the light state across all the clients in realtime
	div.wrapper
		div.controlform
			fieldset
				label.switchlabel Red Light
				div.onoffswitch
					input#redonoffswitch(type="checkbox", name="redonoffswitch").onoffswitch-checkbox
					label.onoffswitch-label(for="redonoffswitch")
						span.onoffswitch-inner
						span.onoffswitch-switch
			fieldset
				label.switchlabel Yellow Light 
				div.onoffswitch
					input#yellowonoffswitch(type="checkbox", name="yellowonoffswitch").onoffswitch-checkbox
					label.onoffswitch-label(for="yellowonoffswitch")
						span.onoffswitch-inner
						span.onoffswitch-switch
			fieldset
				label.switchlabel Green Light
				div.onoffswitch
					input#greenonoffswitch(type="checkbox", name="greenonoffswitch").onoffswitch-checkbox
					label.onoffswitch-label(for="greenonoffswitch")
						span.onoffswitch-inner
						span.onoffswitch-switch
		div.trafficlight
			div.light.red
			div.light.yellow
			div.light.green
	br
	h4 Get Status
		p This gets the status of the lights from DB using GET on /states/{lightid} 
		br
		br
		select#lightsid
			option 	redon
			option  yellowon
			option  greenon
		a#ajaxbutton(class="btn") AjaxButton 
		br
		br
		div#ajaxstate
			table
				thead
					th Light
					th State
				tbody
	br
	h4 Log
	p This is log of last 10 entries fetched using GET on /history 
	div#history
		table
			thead
				th Light
				th State
				th TimeStp
			tbody